node_modules/
*.js
*.map

# Salidas de compilación TypeScript (si usas otro outDir)
dist/
build/

# Archivos de lock si no quieres subirlos (opcional)
package-lock.json

# Archivos temporales / del entorno
.DS_Store
.env
*.log